@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  scroll-behavior: smooth !important;
  list-style: none;
  text-decoration: none !important;
  font-family: "Lexend", sans-serif !important;
  scroll-behavior: smooth !important;
}
@keyframes circularGradientAnimation {
    0% {
      background-position: 50% 0%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 50% 100%;
    }
    75% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  
  .animate-background {
    animation: circularGradientAnimation 15s ease-in-out infinite;
    background: linear-gradient(
      120deg,
      #6aaeca 0%,
      #1f488e 25%,
      #727272 50%,
      #1f488e 75%,
      #6aaeca 100%
    );
    background-size: 400% 400%;
    color: white;
    position: relative;
    overflow: hidden;
  }